.story-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    margin: 20px;
    background-color: rgb(252, 250, 247);
    border-radius: 10px;
}

.story-text {
    margin: 20px 20px 20px 30px;
}

.hamster-img {
    display: flex;
    max-width: 300px;
    max-height: 200px;
    border-radius: 20px;
    margin: 20px 30px 20px 20px;
}

h3 {
    color: brown;
}